.travelSection {
  flex-basis: 50%;

  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: 1.25rem;
      color: rgb(0 0 0);
      font-weight: 700;
    }
    .button {
      border: 1px solid transparent;
    }
    .btn:hover {
      border: 1px solid;
    }
  }
  .secContainer {
    margin-top: 1rem;
    .singleCustomer {
      align-items: flex-start;
      justify-content: space-between;

      .usericon {
        width: fit-content;
        height: fit-content;
max-width: 50px;
max-height: 50px;
        border-radius: 50%;
        box-shadow: 0 2px 4px;

      
      }
      .CustomerDetails {
        flex: 1;

        .name {
          font-size: 20px;
          font-weight: 600;

          display: block;
        }
        .days {
          font-size: small;
        }
      }
      .vehiclenum {
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}
